* {
    font-family: "Poppins", sans-serif;
  }
  body{
    background: linear-gradient(45deg, rgb(88, 24, 192), rgb(206, 18, 231));
  }
  .container {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
  }
  
  .container h1 {
    font-size: 45px;
    font-weight: 700;
    margin-top: 150px;
  }
  
  .hero span {
    color: crimson;
  }
  
  textarea {
    width: 600px;
    height: 250px;
    background: rgb(204, 160, 202);
    border: none;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
  }
  
  textarea::placeholder {
    font-size: 16px;
    color: white;
  }
  
  .row {
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  button {
    background-color: rgb(106, 30, 177);
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  button img {
    width: 16px;
    margin-right: 10px;
  }
  
  select {
    flex: 1;
    color: white;
    background-color: rgb(106, 30, 177);
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: none;
    border-radius: 35px;
    appearance: none;
    background-image: url("dropdown.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 20px);
    background-position-y: 20px;
  }